html {
    color: #000;
    background: #fff;
}

body, div, form {
    margin: 0;
    padding: 0;
}

body, p, li, h1, h3, h4 {
    min-width: 457px;
}

a:link, a.n:link {
    color: #2c82fc;
    background-color: transparent;
}

a.m, a.s, h4, h5.n, input, textarea, td, img.b, .button, .left, .middle, .right {
    border: 1px solid #aed0ea;
}

a:active {
    position: relative;
    top: 1px;
}

a.n:link, a.n:visited, a.m, a.s, h4 {
    text-decoration: none;
}

a.n:active, a.n:focus, a.n:hover {
    text-decoration: underline;
}

a.m, a.s, h4 {
    padding-top: .2em;
    padding-bottom: .2em;
}

a.m:link, a.m:visited, h4, .button, .left, .middle, .right {
    color: #2c82fc;
    background: #e0effa url(images/menu.png) 50% 50% repeat-x;
}

a.m:active, a.s:active, a.s:link, a.s:visited, span.frp, .button:active, .left:active, .middle:active, .right:active {
    color: #fff;
    background: #52b4e6 url(images/selected.png) 50% 50% repeat-x;
}

a.m:focus, a.m:hover, a.s:focus, a.s:hover, .button:hover, .left:hover, .middle:hover, .right:hover, .button:focus, .left:focus, .middle:focus, .right:focus {
    color: #2c82fc;
    background: #e9f3fc url(images/hover.png) 50% 50% repeat-x;
}

a.n:link {
    color: #2c82fc;
    background: transparent;
}

a.n:visited {
    color: #74a6cc;
    background: transparent;
}

a.n:hover, a.n:focus, a.n:active {
    color: #74a6cc;
    background: transparent;
    text-decoration: underline;
}

.button, .left, .middle, .right {
    font-size: 92.59%;
    padding: .16em 1em;
    border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.button {
    border-radius: 17px;
}

.left {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.right {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

h1, h2, h3, span, em {
    color: #103261;
    background: transparent;
}

h2, h3, h4.m {
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    color: #ff8700;
    background: transparent;
    margin-bottom: .5em;
}

h6 {
    margin: .7em -1em 0 0;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, span, em, p.e {
    font-size: 100%;
    font-family: Menlo, "Lucida Grande", "Segoe UI Regular", Verdana, Arial, Helvetica, clean, sans-serif;
}

h1, h2, h4, h5, h6, input, textarea, select, p.e, span.h, span.p {
    font-weight: normal;
}

h3, em {
    font-weight: bold;
}

p, li, td, span.p {
    font-family: Georgia, "Times New Roman", Times, serif;
}

p.c {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 138.5%;
}

h2 {
    font-size: 123.1%;
}

h3 {
    font-size: 108%;
}

h1, h2, h3 {
    margin: 1em 0;
}

p, li {
    line-height: 1.5em;
}

ol, ul, blockquote {
    list-style: none;
    margin: 0 2em;
}

ol.d {
    list-style: decimal outside;
}

ul.d {
    list-style: disc outside;
}

li {
    margin: 0 0 .5em 0;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

p, table, pre {
    margin: 0 0 1em 0;
}

p.e {
    border: 1px solid #a67b00;
    color: #190773;
    background: #ffd940;
}

p.m {
    border: 1px solid #aaa;
    color: #000;
    background: #fffff7;

}

td.s, input, textarea {
    color: #000;
    background: #f5f5f9;
}

pre {
    font-family: monospace;
    line-height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}

td, input, textarea, p.e, p.m {
    padding: .1em .2em;
}

td {
    margin: 0;
    vertical-align: top;
}

input, textarea, p.e, p.m, img.b {
    border-radius: 4px;
}

.button {
    padding: .06em 1em;
    border-radius: 19px;
}

img {
    border: 0;
}

img.f {
    width: 100%;
    padding: 1em;
}

div.h {
    color: #000;
    background: #efefef url(images/header.png) 50% 50% repeat-x;
    padding-top: .5em;
}

h2, div.logo {
    clear: both;
}

p.c, div.c {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.n {
    line-height: 1.5em;
    clear: both;
    margin: 1em 0;
    color: inherit;
    background: #aaa url(images/navigation.png) 50% 50% repeat-x;
    border-top: 1px solid #aed0ea;
    border-bottom: 1px solid #aed0ea;
    padding: 1em 0;
}

div.nl, div.nr {
    width: 30.9%;
}

div.nl {
    padding-left: 19.1%;
}

div.nr {
    padding-right: 19.1%;
    margin-left: 1em;
    float: right;
}

span.al {
    float: right;
}

span.h, span.p {
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
    padding-left: 5%;
    width: 45%;
}

span.fr, span.frp {
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
    border: 1px solid #777;
    border-radius: 4px;
}

span.fr {
    width: 38.2%;
}

span.frp {
    width: 34.2%;
    padding: 2%;
}

span.g {
    width: 202px;
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
    padding: 1em;
    background: #fff;
    border: 1px solid #74a6cc;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

span.t {
    width: 202px;
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
    padding: 1em;
    font-weight: normal;
    font-size: 92.59%;
    line-height: 1.5em;
    color: #555;
    background: #efefef url(images/navigation.png) 50% 50% repeat-x;
    border: 1px solid #74a6cc;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

span.tall {
    width: 162px;
}

#searchForm {
    float: right;
    margin: 0 0 .5em 0;
}

#searchForm .text {
    width: 10em;
    padding: .2em;
    border: 1px solid #74a6cc;
    margin-top: .5em;
    color: #000;
    background: transparent url(search/google.png) no-repeat center left;
    border-radius: 4px;
}

#searchForm .text:focus {
    color: #000;
    background: #fff;
}

#searchForm button {
    padding: 0;
    position: relative;
    right: -12.7em;
    top: 3px;
    border-style: none;
    background: none;
}

p.admin, form.admin {
    clear: none;
    margin: 0;
}

input.admin {
    float: right;
    margin: .5em 0 0 0;
}

span.g, span.r, span.rb, span.rp, span.t {
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
    font-weight: normal;
}

span.g, span.t {
    width: 190px;
    padding: 17px;
    border: 1px solid #74a6cc;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

span.g {
    background: #74a6cc;
}

span.r, span.rp {
    padding-left: 5%;
    width: 45%;
}

span.rb {
    padding-left: 6%;
    width: 42%;
}

span.rb, span.rp {
    color: #000;
    background: transparent;
}

span.t {
    color: #555;
    background: #efefef url(images/navigation.png) 50% 50% repeat-x;
    font-size: 92.59%;
    line-height: 1.5em;
}
