div.logo, form.search, h1, h2, h3, h4, h6, ol, p, ul {
    padding-right: 19.1%;
    padding-left: 19.1%;
}

p.e, p.m {
    margin: 1em 19.1%;
}

div.nl, div.nr {
    width: 30.9%;
}

div.nl {
    padding-left: 19.1%;
}

div.nr {
    padding-right: 19.1%;
}
