body {
    font-size: 123.1%;
}

div.logo, form.search, h1, h2, h3, h4, h6, ol, p, ul {
    padding-right: .5em;
    padding-left: .5em;
}

p.e, p.m {
    margin-right: .5em;
    margin-left: .5em;
}

div.nl, div.nr {
    width: 50%;
}

div.nl {
    padding-left: .5em;
}

div.nr {
    padding-right: .5em;
}
