body, p, li, h1, h2, h3, h4 {
    min-width: 457px;
}

ol, ul, p, h1, h2, h3, h4, div.logo, form.search {
    padding: 0 2%;
}

body, select, input, button, textarea, span, p.e {
    font-family: Menlo, "Lucida Grande", "Segoe UI Regular", Verdana, Arial, Helvetica, clean, sans-serif;
}

p, li, span.rb, span.rp {
    line-height: 1.5em;
    font-family: Georgia, "Times New Roman", serif;
}

p, li {
    font-size: 108%;
}

p.b {
    margin-left: 3%;
}

p.c, div.c {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p.e {
    margin: 1em 2% .2em 2%;
    padding: .1em .5em;
    border: 1px solid #a67b00;
    background: #ffd940;
    color: #190773;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

li {
    margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    clear: left;
}

h1, h2, h3, h6, span {
    color: #103261;
    background-color: transparent;
}

h5 {
    color: #000;
    background-color: transparent;
}

h6 {
    float: right;
    margin: .7em -1em 0 0;
}

a:link, a.n:link, h6 {
    color: #2c82fc;
    background-color: transparent;
}

a:active {
    position: relative;
    top: 1px;
}

a:visited, a.n:visited, a.n:hover, a.n:focus, a.n:active {
    color: #74a6cc;
    background-color: transparent;
}

a.n:link, a.n:visited {
    text-decoration: none;
}

a.n:hover, a.n:focus, a.n:active {
    text-decoration: underline;
}

a.m, a.s, h4 {
    padding-top: .2em;
    padding-bottom: .2em;
}

a.m, a.s, h4, .button, .left, .middle, .right {
    font-weight: normal;
    text-decoration: none;
    border: 1px solid #aed0ea;
}

a.m:link, a.m:visited, h4, .button, .left, .middle, .right {
    color: #2c82fc;
    background: #e3f1fa url(images/menu.png) 50% 50% repeat-x;
}

a.m:active, a.s:link, a.s:visited, a.s:active, .button:active, .left:active, .middle:active, .right:active {
    color: #fff;
    background: #62bbe8 url(images/selected.png) 50% 50% repeat-x;
}

a.m:hover, a.s:hover, a.m:focus, a.s:focus, .button:hover, .left:hover, .middle:hover, .right:hover, .button:focus, .left:focus, .middle:focus, .right:focus {
    color: #2c82fc;
    background: #eef6fc url(images/hover.png) 50% 50% repeat-x;
}

.button, .left, .middle, .right {
    font-size: 92.59%;
    padding: .16em 1em;
    border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.button {
    border-radius: 17px;
    -khtml-border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
}

.left {
    border-top-left-radius: 17px;
    -khtml-border-top-left-radius: 17px;
    -moz-border-radius-topleft: 17px;
    -webkit-border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    -khtml-border-bottom-left-radius: 17px;
    -moz-border-radius-bottomleft: 17px;
    -webkit-border-bottom-left-radius: 17px;
}

.right {
    border-top-right-radius: 17px;
    -khtml-border-top-right-radius: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    -khtml-border-bottom-right-radius: 17px;
    -moz-border-radius-bottomright: 17px;
    -webkit-border-bottom-right-radius: 17px;
}

div.h {
    color: #000;;
    background: #efefef url(images/header.png) 50% 50% repeat-x;
}

div.logo {
    clear: both;
}

div.n {
    line-height: 1.5em;
    clear: both;
    margin: 1em 0;
    color: inherit;
    background: #efefef url(images/navigation.png) 50% 50% repeat-x;
    border-top: 2px solid #aed0ea;
    border-bottom: 2px solid #aed0ea;
    padding: 1em 0;
}

div.nl, div.nr {
    width: 48%;
}

div.nl {
    padding-left: 1em;
}

div.nr {
    padding-right: 1em;
    margin-left: 1em;
    float: right;
}


img.fr {
    float: right;
    clear: right;
    margin: .4em 0 1em 1em;
}

img.b, input, textarea {
    border: 1px solid #74a6cc;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

span {
    font-weight: bold;
    font-family: Menlo, "Lucida Grande", "Segoe UI Regular", Verdana, Arial, Helvetica, clean, sans-serif;
}

span.g, span.r, span.rb, span.rp, span.t {
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
    font-weight: normal;
}

span.g, span.t {
    width: 190px;
    padding: 17px;
    border: 1px solid #74a6cc;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

span.g {
    background: #74a6cc;
}

span.r, span.rp {
    padding-left: 5%;
    width: 45%;
}

span.rb {
    padding-left: 6%;
    width: 42%;
}

span.rb, span.rp {
    color: #000;
    background: transparent;
}

span.t {
    color: #555;
    background: #efefef url(images/navigation.png) 50% 50% repeat-x;
    font-size: 92.59%;
    line-height: 1.5em;
}

input, textarea {
    padding: .1em;
    color: #000;
    background: #f5f5f9;
}

input.paypal {
    border: 0;
    padding: 1em 0 .8em 17px;
    background: transparent;
}

#searchForm {
    float: right;
    margin: 0 0 .5em 0;
}

#searchForm .text {
    width: 10em;
    padding: .2em;
    border: 1px solid #74a6cc;
    margin-top: .5em;
    color: #000;
    background: transparent url(search/google.png) no-repeat center left;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#searchForm .text:focus {
    color: #000;
    background: #fff;
}

#searchForm button {
    padding: 0;
    position: relative;
    right: -10.5em;
    top: 3px;
    border-style: none;
    background: none;
}

p.admin, form.admin {
    clear: none;
    margin: 0;
}

input.admin {
    float: right;
    margin: .5em 0 0 0;
}